  <section id="products" class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto" > 
      <div class="flex flex-wrap -m-4">
        <div id="d" class="lg:w-1/4 md:w-1/2 p-4 w-full" *ngFor = "let prod of productArray">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" id="image" src="{{prod.img}}">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{prod.general}}</h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">{{prod.prodName}}</h2>
            <p class="mt-1">₹{{prod.amt * prod.qnt}}</p>
            <button (click) = "prodInc(prod)" style="margin-left: 20%;" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
              <mat-icon>add</mat-icon>
            </button>
            <span style="margin-left: 5%;">{{prod.qnt}}</span>
            <button (click) = "prodDec(prod)"  style="margin-left: 10px;" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
              <mat-icon>remove</mat-icon>
            </button>
            <button (click)=addtocart(prod) style="margin: 20%;" type="button" class="btn btn-danger">Add to Cart</button>
          </div>
        </div>
      </div>
      
      <div class="text-center">
        <button (click) = "toggleDisplay()" type="button" class="btn" style="background-color: gainsboro;" id="button">Show more</button>
      </div>
      </div>
      
  </section>  

  <section [hidden] = "isDisplay" id="products" class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto" > 
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full" *ngFor = "let prod of productArray2">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" id="image" src="{{prod.img}}">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{prod.general}}</h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">{{prod.prodName}}</h2>
            <p class="mt-1">₹{{prod.amt * prod.qnt}}</p>
            <button (click) = "prodInc(prod)" style="margin-left: 20%;" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
              <mat-icon>add</mat-icon>
            </button>
            <span style="margin-left: 5%;">{{prod.qnt}}</span>
            <button (click) = "prodDec(prod)"  style="margin-left: 10px;" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
              <mat-icon>remove</mat-icon>
            </button>
            <button (click)=addtocart(prod) style="margin: 20%;" type="button" class="btn btn-danger">Add to Cart</button>
          </div>
        </div>
      </div>
      </div>
      
  </section>  

  